{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- Section: Design Block -->
<section class="text-center mt-5 mb-5">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Kayıt Ol</h2>
            <form method="POST">
              {% csrf_token %}
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="text-danger mb-2">{{ hata }}</div>
              <!-- Kullanıcı input -->
              <div class="form-outline mb-4">
                <input type="text" name="name" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">İsim</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="text" name="surname" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">Soyisim</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="text" name="email" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">E-mail</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="text" name="username" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">Kullanıcı Adı</label>
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" name="password1" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Şifre</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" name="password2" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Şifre Onay</label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Kayıt Ol
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
{% endblock body %}
    